server {
    set $project_url /var/www/html;   # O'zgaruvchi $project_url ni berilgan direktoriya yo'liga sozlaydi

    charset utf-8;   # Server uchun belgi kodlamasini sozlash
    client_max_body_size 128M;   # Mijozning so'rovlarining maksimal hajmini chegaralash

    listen 80;   # HTTP ulanishlar uchun 80-portni eshitish
    #listen [::]:80 default_server;   # 80-portni eshitishning IPv6-versiyasi (hazirda izohlangan)

    server_name localhost;   # Ushbu konfiguratsiya blokiga tegishli server nomini aniqlaydi
    root $project_url;   # Server uchun asosiy direktoriyani $project_url o'zgaruvchisi bilan sozlaydi
    index index.php;   # Joriy qovluq so'rovlari uchun standart bosh sahifani belgilaydi

    location / {
           index index.php;   # Ushbu joy uchun asosiy direktoriyani sozlaydi
           try_files $uri /frontend/web/index.php?$args;   # So'ralgan URI-ni xizmat qilishga urinadi yoki /frontend/web/index.php bilan birga tushadi

           location ~ ^/assets/.*\.php$ {
               deny all;   # /assets/ direktoriyasidagi PHP fayllarga kirishni taqiqlaydi
           }
    }


    location /admin {
       alias $project_url/backend/web;   # Ushbu joy uchun asosiy direktoriyani sozlaydi
       try_files $uri /backend/web/index.php?$args;   # So'ralgan URI-ni xizmat qilishga urinadi yoki /backend/web/index.php bilan birga tushadi

      location ~ ^/assets/.*\.php$ {
          deny all;   # /assets/ direktoriyasidagi PHP fayllarga kirishni taqiqlaydi
       }
    }


    location ~ \.php$ {
        fastcgi_intercept_errors on;   # FastCGI xatolarni olishni yoqadi
        fastcgi_pass php:9000;   # PHP so'rovlarni php:9000 manzilida tinglovchi FastCGI serverga yo'naltiradi
        fastcgi_index index.php;   # FastCGI so'rovlari uchun standart bosh sahifani belgilaydi
        include fastcgi_params;   # FastCGI konfiguratsiya parametrlarini qo'shadi
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;   # FastCGI uchun SCRIPT_FILENAME parametrini sozlaydi
        fastcgi_param PATH_INFO $fastcgi_path_info;   # FastCGI uchun PATH_INFO parametrini sozlaydi
        fastcgi_buffer_size 128k;   # FastCGI uchun bufer hajmini sozlaydi
        fastcgi_buffers 4 256k;   # FastCGI uchun qovluqlar sonini va hajmini sozlaydi
        fastcgi_busy_buffers_size 256k;   # FastCGI uchun band bo'lgan bufer hajmini sozlaydi
    }

    location ~ /\. {
        deny all;   # Nuqtaning orqasidan boshlanuvchi yashirin fayllar/direktoriyalarga kirishni taqiqlaydi
    }
}
