
.modal-title {
    font-size: 17px;
    color: var(--color-text);
}



.c_card_item
{
    width: 100%;
    /*margin-right: 1.5rem;*/
    margin-bottom: 0.9rem;
    background: #fff;
    padding: 2px;
}
.c_card_body
{
    width: 100%;
    height: 100%;
    padding: 6px 10px;
    position: relative;
    border: 1px solid var(--bg-color);
}
.card_badge
{
    position: absolute;
    top: 0;
    left: 10px;
    display: inline-block;
    background: var(--color-blue);
    color: #fff;
    font-size: 12px;
    padding: 1px 15px;
    border-radius: 0px 0px 10px 10px;
}

.c_card_header
{
    font-size: 15px;
    text-align: center;
}
.card_teacher_info
{
    position: relative;
}
.card-teacher-img
{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 3px;
    border: 1px solid var(--bg-color);
}

.card-teacher-img img
{
    width: 100%;
    border-radius: 10px;
}

.card-teacher-text
{
    padding-left: 12px;
    position: absolute;
    left: 50px;
    top: 0;
    /*border: 1px solid red;*/
}

.card-teacher-text p
{
    font-size: 14px;
}
.card-teacher-text p:nth-child(2)
{
    background: var(--color-blue);
    display: inline-block;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 10px;
}

.card_week
{

}
.card_week p
{
    font-size: 14px;
    display: flex;
    margin-bottom: 4px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed var(--bg-color);
}
.card_week p.mt-3
{
    border-bottom: none;
}
.card_week p label
{
    -webkit-appearance: none;
    position: relative;
    width: 45px;
    height: 18px;
    background: #fff;
    outline: none;
    box-shadow: inset 0 0 4px rgba(0,5,0,.2);
    border-radius: 15px;
    transition: all 0.15s linear;
}
.card_week input[type="checkbox"]:checked ~ p label
{
    background: var(--color-blue);
}
.card_week p label:before
{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: var(--color-blue);
    border-radius: 100%;
    top: 3px;
    left: 3px;
    transition: all 0.15s linear;
}
.card_week input[type="checkbox"]:checked ~ p label:before
{
    left: 31px;
    background: #fff;
}
.discount
{
    width: 100%;
    height: 74px;
    display: none;
    margin-top: 5px;
}
.discount input
{
    width: 100%;
    height: 32px;
    outline: none;
    padding: 4px 8px 4px 8px;
    font-weight: 500;
    border: 1px solid var(--bg-color);
}
.discount input:nth-child(2) {
    margin-top: 10px;
}
.card-discount:checked ~ .discount
{
    display: block;
}
.discount input[placeholder]
{
    font-size: 12px;
}
.discount input:valid
{
    color: var(--color-blue);
}



/*breadcrumb*/

.breadcrumb {
    margin: 0;
}
.breadcrumb-item a {
    color: var(--color-blue);
}
.breadcrumb-item.active {
    color: var(--color-text);
}


/*breadcrumb*/




 /*Alert*/

.toast {
    /*padding: 2px;*/
    border: none;
    border-radius: 10px;
    /*color: #fff;*/
}
.toast-item {
    /*border: 2px solid var(--bg-color);*/
    border-radius: 10px;
}
.toast-header i {
    font-size: 20px;
    margin-right: 15px;
}
.toast-header {
    background: none;
    border-bottom: none;
}
.toast .toast-item.error {
    color: #fff;
    /*background-color: rgba(254,90,14,0.9);*/
    background-color: rgba(208,73,39,0.81);
}

.toast .toast-item.success {
    color: #fff;
    /*background-color: rgba(254,90,14,0.9);*/
    background-color: var(--color-blue);
}

.toast .toast-item.error .toast-header button {
    color: #fff!important;
}
.toast .toast-item.error .toast-header
{
    color: #fff;
}
.toast-body div:nth-child(1) {
    margin-right: 15px;
}
.toast-body div i {
    font-size: 25px;
}
.alertSize {
    font-size: 20px!important;
}
/*.toast .toast-item.success {*/
/*    background-color: rgba(25,150,244,0.5);*/
/*}*/



 /*Alert*/



/*View*/

.right-border {
    border-right: 1px solid var(--bg-color);
}

.view-logo {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border: 1px solid var(--bg-color);
}
.view-logo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
}
.view-name-h6 {
    text-align: right;
    color: var(--color-text);
    font-size: 14px;
}
.view-name-p {
    text-align: left;
    text-transform: uppercase;
    color: var(--color-label);
    font-size: 12px;
}

.view-info-right p{
    font-size: 13px;
    color: var(--color-label);
}
.view-info-right p i {
    color: var(--color-text);
    margin-left: 15px;
    cursor: pointer;
}
.view-info-right h6 {
    font-size: 14px;
    color: var(--color-text);
    margin-top: 8px;
}
.view-mt {
    margin-top: 35px;
}
.view-info-left .row {
    width: 100%;
    margin: 0 auto;
    padding: 0!important;
    border-bottom: 1px dashed var(--bg-color);
}
.view-info-left .row .col-3,
.view-info-left .row .col-9
{
    padding: 0;
}
.row-mt {
    margin-top: 15px!important;
}

.view-branch {
    width: 100%;
    border-radius: 10px;
    background: var(--bg-color);
    padding: 10px;
}
.view-tabs {
    background: var(--bg-color);
    padding: 5px;
    border-radius: 10px;
}
.view-tabs .nav-link {
    padding-left: 20px;
    padding-right: 20px;
    color: var(--color-text)!important;
}
.view-tabs .nav-link.active {
    background: #fff!important;
    color: var(--color-text);
    border-radius: 8px;
}

.tab-pane {
    padding: 15px;
    border-radius: 10px;
    background: var(--bg-color);
}
.textPassword {
    display: none;
}
.slashPassword {
    display: block;
}

.page-buttons ul {
    list-style: none;
    padding: 0;
    display: flex;
}
.page-buttons ul li {
    margin-right: 7px;
}
/*View*/


/*group*/
.group-mt {
    margin-top: 26px;
}
.groupWeek {
    display: block;
    cursor: pointer;
    border-radius: 3px;
    background: var(--bg-color);
    padding: 2px;
}
.groupWeek .groupWeekItem {
    display: block;
    position: relative;
    text-align: center;
    padding: 7px 0;
    border-radius: 3px;
    background: var(--bg-color);
    border: 1px solid #fff;
    color: var(--color-text);
    font-size: 14px;
}
.week-form {
    margin-top: 15px;
    position: relative;
}
.week-form .week-box {
    width: 18px;
    height: 18px;
    position: absolute;
    left: calc(50% - 9px);
    top: -7px;
    transform: rotate(45deg);
    background: #fff;
    border-left: 1px solid var(--bg-color);
    border-top: 1px solid var(--bg-color);
}
.week-form .form-section_item {
    padding: 0 5px;
}

.week1 {
    display: none;
}
.visually-hidden:checked ~ label .groupWeekItem {
    background: var(--color-blue);
    color: #fff;
}
#week1:checked ~ .week1 {
    display: block;
}


.week2 {
    display: none;
}
#week2:checked ~ .week2 {
    display: block;
}

.week3 {
    display: none;
}
#week3:checked ~ .week3 {
    display: block;
}

.week4 {
    display: none;
}
#week4:checked ~ .week4 {
    display: block;
}

.week5 {
    display: none;
}
#week5:checked ~ .week5 {
    display: block;
}

.week6 {
    display: none;
}
#week6:checked ~ .week6 {
    display: block;
}
.week7 {
    display: none;
}
#week7:checked ~ .week7 {
    display: block;
}
.select2-selection__rendered {
    font-size: 14px;
    color: var(--color-text)!important;
    padding-top: 2px!important;
}
.select2-selection__clear {
    line-height: 1.30!important;
    padding-right: 15px;
}


.name {
    color: var(--color-text);
    font-size: 15px;
    font-weight: 600;
}
.col-item h2 {
    color: var(--color-text);
    font-size: 30px;
    font-weight: 600;
}
.name_bottom {
    font-size: 13px;
    color: var(--color-label);
    font-weight: 400;
}
.col-item {
    width: 50%;
    height: 80px;
}
.col-item:first-child {
    border-right: 1px solid var(--bg-color);
}
.group-help {
    background: var(--bg-color);
    border-radius: 10px;
    padding: 10px;
}
.group-help-item:first-child {
    border-right: 1px solid #fff;
}
.group-help-item {
    width: 50%;
    padding: 5px;
}
.group-description {
    height: 100%;
}
.group-description .view-branch {
    height: 90%;
}

.group-days {
    width: 100%;
    background: #fff;
    padding: 14px;
    border-radius: 10px;
    color: var(--color-text);
    font-size: 14px;
}

/*group*/

/*attend*/

.cart {
    width: 100%;
    /*height: 280px;*/
    padding: 2px;
    background: #fff;
    border-radius: 3px;
}
.cart-body {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    position: relative;
    border: 1px solid var(--bg-color);
}
.cart-badge {
    position: absolute;
    top: 0;
    left: 10px;
    background: var(--color-blue);
    color: #fff;
    font-size: 12px;
    padding: 2px 15px;
    border-radius: 0 0 10px 10px;
}
.cart-userImage {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid var(--bg-color);
}
.cart-userImage img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
}
.cart-content {
    margin-top: 25px;
    padding: 1rem;
}
.cart-content .group_name {
    padding-right: 28%;
    color: var(--color-text);
}
.title-top {
    font-size: 13px;
    color: var(--color-label);
}
.title-p {
    font-size: 14px;
    color: var(--color-text);
}
.cart-content-body {
    background: var(--bg-color);
    border-radius: 3px;
    padding: 10px;
}
.cart-content-body p {
    font-size: 13px;
    color: var(--color-text);
}
.attend-link a {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 8px 0;
    border-radius: 3px;
    color: #fff;
    background: var(--color-blue);
}
/*attend*/

.attendTable {
    width: 100%;
    position: relative;
}

.attendStudents {
    padding: 15px;
    border-radius: 10px;
    background: var(--bg-color);
}

.attend-students-table {
    width: 100%;
    overflow: scroll;
}
.attend-students-table table th,
.attend-students-table table td {
    white-space: nowrap;
    text-align: center;
}
.attend-students-table table td i.bi {
    font-size: 22px;
}
.attend-students-table table td i.bi-person-dash {
    color: var(--bs-danger);
}
.attend-students-table table td i.bi-person-check {
    color: var(--color-blue);
}

.attend-active-date {
    background: var(--bg-color)!important;
}
.attend-students-table tr:hover td.attend-active-date {
    background: #fff!important;
}






.s-hidden {
    visibility: hidden;
    display: none;
}
.selectV2 {
    width: 100%;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 13px;
    color: var(--color-text);
    padding:  0.2rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: 1px solid var(--color-border)!important;
}
select.selectV2::-ms-expand {
    display: none;
}

.styledSelect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


.styledSelect:active,
.styledSelect.active {
    background-color: #eee;
}

.optionsV2 {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    border: 1px solid #ccc;
    background-color: white;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.optionsV2 li {
    padding: 0 6px;
    margin: 0 0;
    padding: 0 10px;
}

.optionsV2 li:hover {
    background-color: #39f;
    color: white;
}








/*Payment-list*/

.ul-left-right {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ul-left-right li {
    width: 48%;
    font-size: 14px;
    color: var(--color-text);
}
.ul-left-right li:first-child {
    font-weight: 500;
}
.student-view-name {
    width: 100%;
    display: flex;
}
.svn-image {
    width: 70px;
    height: 70px;
    border: 1px solid var(--bg-color);
    padding: 2px;
    display: flex;
    border-radius: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.svn-image img {
    max-width: 100%;
    min-width: 50%;
    border-radius: 100%;
}
.svn-name {
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.title-bottom {
    font-size: 14px;
    color: var(--color-text);
}
.title-bottom span,
.title-p a span {
    border-bottom: 1px solid var(--color-blue);
}
.title-p a {
    color: var(--color-blue);
    text-decoration: none;
}

.modal-left-right h6 {
    font-size: 14px;
    color: var(--color-text);
    margin-top: 5px;
}
.modal-left-right p {
    font-size: 13px;
    color: var(--color-label);
}

.alert {
    text-align: left;
    margin: 0;
}
.alert-danger {
    background: var(--color-red-rgba);
    border: 1px solid var(--color-red);
    color: #fff;
}

.view-tabs .nav-link.active .btn-span {
    padding: 2px 10px;
    margin-left: 15px;
    border-radius: 10px;
    background: var(--bg-color);
}
.view-tabs .nav-link .btn-span {
    padding: 2px 10px;
    margin-left: 15px;
    border-radius: 10px;
    background: #fff;
}


/*Payment-list*/

.badge-table-div {
    padding: 2px 20px;
    display: inline-block;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    transition: var(--transition);
    background: var(--bg-color);
}
.badge-table-div i {
    padding-left: 10px;
}
.badge-table-div.active {
    color: var(--color-blue);
}
.badge-table-div.danger {
    color: var(--color-red);
}
table tr:hover td .badge-table-div {
    background: #fff;
}

p.badge-table-div {
    padding-top: 3px;
    color: var(--color-blue);
}




.questions_page {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.qs_head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-color);
    padding: 5px 0 10px 0;
}
.qs_body {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--bg-color);
}
.qs_content {
    margin-top: 15px;
}

.qs_image {
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    background: var(--bg-color);
}
.qs_image img {
    max-width: 80%;
    border-radius: 3px;
}

.qs_option {
    margin-top: 15px;
}
.qs_option_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qs_option_left {
    background: var(--bg-color);
    padding: 7px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.qs_option_left.active {
    background: var(--color-blue);
    color: #fff;
}
.qs_option_right {
    display: flex;
    gap: 30px;
    padding-right: 10px;
}

.qs_head_right {
    display: flex;
    gap: 30px;
    padding-right: 10px;
}
.qs_head_right a,
.qs_option_right a
{
    color: var(--color-blue);
    font-size: 15px;
}

.qs_option_body {
    background: var(--bg-color);
    padding: 10px;
    border-radius: 0 3px 3px 3px;
}
.mtop10 {
    margin-top: 10px;
}
.qs_option_image {
    text-align: center;
}
.qs_option_image img {
    max-width: 80%;
    border-radius: 3px;
}





.title-h5 {
    color: var(--color-text);
}
.topp {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-text);
}


.ht-box {
    width: 100%;
    padding: 10px;
    background: var(--bg-color);
}
.ht-box2 {
    margin-top: 10px;
    background: #fff;
    padding: 10px;
}


.page_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.title-link a {
    padding: 8px 20px;
    background: #fff;
    font-size: 13px;
    color: var(--logo-color);
    letter-spacing: 0.5px;
}

.svg_icon svg {
    width: 120px;
}

.subject_box {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    background: var(--bg-color);
}
.subject_box_left {
    width: 45%;
}

.subject_box_right {
    width: 50%;
    text-align: right;
}
.subject_box_right h6 {
    margin: 0;
    display: inline-block;
    border-bottom: 1px dashed var(--red-color);
}

.sub_links {
    padding: 8px 20px;
    border-radius: 30px;
    background: #fff;
    font-size: 14px;
    color: var(--logo-color);
}

.subject_box_right h6 a {
    color: var(--logo-color);
}
.view-info-right h6 a {
    color: var(--logo-color);
}

.edite_drop {
    padding: 8px 20px;
}
.edite_drop .user_title {
    margin: 0;
    padding: 0;
    border: none;
}
.edite_drop .user_title h6 {
    color: var(--logo-color);
}




.ik_edu_types {
    width: 100%;
    background: #fff;
    border-radius: 15px;
    padding: 2px;
}
.ik_edu_types_item {
    border-radius: 15px;
    padding: 12px 20px;
    border-left: 1px solid var(--bg-color);
    border-top: 1px solid var(--bg-color);
    border-right: 1px solid var(--bg-color);
}
.ik_edu_types_title {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--bg-color);
}
.ik_edu_types_title h6 {
    display: flex;
    align-items: center;
    color: var(--color-text);
}
.ik_edu_types_title h6 span {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
}
.ik_edu_types ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ik_edu_types ul li {
    font-size: 14px;
}
.ik_edu_types ul li:nth-child(2) {
    font-size: 16px;
}


.ik-red .ik_edu_types {
    border-bottom: 3px solid var(--red-color);
}
.ik-red .ik_edu_types_title h6 span {
    background: var(--red-color);
    box-shadow: 0 0 5px var(--red-color);
}
.ik-red .ik_edu_types ul li:nth-child(2) {
    color: var(--red-color);
}


.ik-blue .ik_edu_types {
    border-bottom: 3px solid var(--color-blue);
}
.ik-blue .ik_edu_types_title h6 span {
    background: var(--color-blue);
    box-shadow: 0 0 5px var(--color-blue);
}
.ik-blue .ik_edu_types ul li:nth-child(2) {
    color: var(--color-blue);
}

.ik-blue2 .ik_edu_types {
    border-bottom: 3px solid var(--logo-color);
}
.ik-blue2 .ik_edu_types_title h6 span {
    background: var(--logo-color);
    box-shadow: 0 0 5px var(--color-blue);
}
.ik-blue2 .ik_edu_types ul li:nth-child(2) {
    color: var(--logo-color);
}



.ik_total_count {
    width: 180px;
    padding: 5px;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 1px dashed var(--bg-color);
}

.ik_total_count_left {
    width: 45px;
    height: 45px;
    background: var(--bg-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
}
.ik_total_count_right {
    width: calc(100% - 50px);
}
.ik_total_count_right h5 {
    text-align: center;
    color: var(--color-text);
}
.ik_total_count_right p {
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
}

.ik_old_days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-around;
}

.ik_old_days_item {
    width: 70px;
    border-radius: 10px;
    padding: 5px;
    border: 1px dashed var(--bg-color);
}
.ik_old_days_item_box {
    padding: 5px;
    border-radius: 10px 10px 0 0;
    background: var(--bg-color);
}
.ik_old_days_item_box h6 {
    text-align: center;
    color: var(--color-label);
}
.ik_old_days_item_box p {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: var(--color-label);
}
.ik_old_days_item_count h6 {
    text-align: center;
    color: var(--color-text);
    margin-top: 10px;
}




.ik_chala {
    margin-top: 10px;
}

.ik_title_h5 h5 {
    color: var(--color-text);
}

.ik_chala .table thead tr th {
    background: var(--bg-color);
}




























